#tepper {
    height: 700px;
}

.parallax-container a:hover {
    color: black;
}

.icon-link:hover {
    opacity: 0.5;
    /* -webkit-filter: drop-shadow(10px 10px 10px #808080); */
    /* filter: drop-shadow(10px 10px 10px #808080);  */
}

#footer-links a {
    color: black;
}

#footer-links a:hover {
    color: gray;
}

#skills-img {
    height: 700px;
}

#education .card .card-action a {
    color: black;
}

#education .card .card-action a:hover {
    color: #808080;
}

.ordered-list {
    list-style-type: circle;
}

#work-experience .card .card-action a {
    color: black;
}

#work-experience .card .card-action a:hover {
    color: #808080;
}

#projects .card .card-action a {
    color: black;
}

#projects .card .card-action a:hover {
    color: #808080;
}

#skills .card .card-title {
    font-size: 16px;
}
